{
  "presets": [
    "next/babel",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    "transform-flow-strip-types",
    "emotion",
    [
      "module-resolver",
      {
        "root": ["./components"],
        "alias": {
          "helpers": "./helpers",
          "api": "./api",
        },
      }
    ]
  ]
}